.container_index {
    cursor: pointer;
}

.card_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    
}

.card {
    background-color: #fff;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    position: relative;
}



.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card h2 {
    font-size: 1.2em;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.card_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.1em;
}

.card_price p {
    margin: 0;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #f00;
    color: white;
    padding: 5px 10px;
    font-size: 0.9em;
    border-radius: 5px;
}

.card_container p {
    font-size: 1.1em;
    color: #888;
    text-align: center;
    width: 100%;
}

.card_button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}
.button button{
    cursor: pointer;
    width: 100%;
}